<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Leaderboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

    <div class="logo">
        🏆 LEADERBOARD
    </div>

    <nav>
        <a href="/">Home</a>
    </nav>

</header>


<section class="section">

    {% if tournament %}

    <h1>
        {{ tournament["name"] }}
    </h1>

    {% else %}

    <h1>
        All Registrations
    </h1>

    {% endif %}


    <div class="table-container">

        <table>

            <thead>

                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Team</th>
                    <th>UID</th>
                </tr>

            </thead>

            <tbody>

                {% for player in registrations %}

                <tr>

                    <td>
                        {{ loop.index }}
                    </td>

                    <td>
                        {{ player["player_name"] }}
                    </td>

                    <td>
                        {{ player["team_name"] }}
                    </td>

                    <td>
                        {{ player["uid"] }}
                    </td>

                </tr>

                {% else %}

                <tr>

                    <td colspan="4">
                        No registrations yet.
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</section>


<script src="{{ url_for('static', filename='script.js') }}">
</script>
<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
</body>

</html>
